/* styles/Contact.module.css */

.container {
  padding: 50px;
  background-color: #fff;
}

.header {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.pragraph {
  font-size: 1.2rem;
  color: #555;
}
